<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creative Digital</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{root}}assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{root}}assets/favicon-32x32.png">
    <link rel="favicon" href="{{root}}assets/favicon.ico">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
  </head>
  <body>

    {{> body}}



    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKniIfHQAcuPxG1bzb4K5nx4mfxMNmcyM">
    </script>
    <script src="{{root}}assets/js/app.js"></script>
  </body>
</html>
